<table class="table">
    <thead>
        <tr>
            <!-- ko foreach: cols() -->
            <th>
                <data-column params="title: header.title"></data-column>
            </th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: { data: rows, as: 'r' } -->
        <tr>
            <!-- ko foreach: $parent.cols() -->
            <td>
                <data-cell params="template: celTemplate, data: getCellData(r)"></data-cell>
            </td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
    </tbody>
</table>