<table class="table">
    <thead>
        <tr>
            <!-- ko foreach: cols() -->
            <th>
                <data-column params="title: header.title"></data-column>
            </th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: { data: rows, as: 'r' } -->
        <tr>
            <!-- ko foreach: $parent.cols() -->
            <td>
                <!-- ko template: { 
                        name: celTemplate,
                        data: modelFactory(r)
                } -->
                <!-- /ko -->
            </td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
    </tbody>
</table>