@{
    ViewData["Title"] = "Editar Proveedor";
}
@section Scripts {
    <script type="text/javascript" src="~/js/shared.js"></script>
    <script type="text/javascript" src="~/js/editarProveedor.js"></script>
}

<h2>Editar Proveedor</h2>

<frm-proveedor params="id: '@ViewBag.id'"></frm-proveedor>
