@{
    ViewData["Title"] = "Nuevo Proveedor";
}
@section Scripts {
    <script type="text/javascript" src="~/js/shared.js"></script>
    <script type="text/javascript" src="~/js/nuevoProveedor.js"></script>
}

<h2>Nuevo Proveedor</h2>

<frm-proveedor params="id: '@ViewBag.id'"></frm-proveedor>