
<script type="text/html" id="data-table-default-head-template">
    <label data-bind="text: title"></label>
    <i class="fas fa-sort-down"></i>
</script>

<script type="text/html" id="data-table-default-data-template">
    <label data-bind="text: $data"></label>    
</script>

<table-component></table-component>