<nav aria-label="Page navigation example" data-bind="if: list().length > 0">
    <ul class="pagination justify-content-center">

        <li data-bind="if: page() !== 1, click: () => page(page()-1)" style="cursor: pointer;" class="page-item"
            aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </li>

        <!-- ko foreach: list -->
        <li class="page-item" data-bind="css: { 'active': $data === $parent.page() }, 
                click: () => { if ($data !== $parent.page()) $parent.page($data) }" style="cursor: pointer;">
            <a class="page-link" data-bind="text: $data"></a>
        </li>
        <!-- /ko -->


        <li data-bind="if: page() !== list()[list().length-1], 
                    click: () => page(page()+1)" class="page-item" style="cursor: pointer;" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </li>
    </ul>
</nav>