@{
    ViewData["Title"] = "Editar Cliente";
}
@section Scripts {
    <script type="text/javascript" src="~/js/shared.js"></script>
    <script type="text/javascript" src="~/js/editarCliente.js"></script>
}

<h2>Editar Cliente</h2>

id: @ViewBag.id