@{
    ViewData["Title"] = "Clientes";
}
@section Scripts {
    <script type="text/javascript" src="~/js/shared.js"></script>
    <script type="text/javascript" src="~/js/clientes.js"></script>    
}

<script type="text/html" id="delete-cliente-dialog-content">
    <label>Está seguro que desea borrar éste cliente</label>
</script>

<script type="text/html" id="delete-cliente-dialog-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" data-bind="click: model.confirm.bind(model)">Borrar</button>
</script>

<h2>Clientes</h2>
<dialog></dialog>
<data-table></data-table>