@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script data-main="/js/clientes" src="~/lib/require/dist/require.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>    
</div>
