@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script data-main="/js/clientes" src="~/lib/require/dist/require.js"></script>
}

<div id="mybindarea">
    <hello-world>
    </hello-world>
</div>
