@{
    ViewData["Title"] = "Nuevo Cliente";
}
@section Scripts {
        
    <script type="text/javascript" src="~/js/nuevoCliente.js"></script>    
}


<h2>Nuevo Cliente</h2>

<form novalidate >

  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="txtNombre">Nombre de Contacto</label>
      <input type="text" class="form-control is-invalid"  maxlength="100" id="txtNombre">
      <div class="valid-feedback">
        !Muy bien!
      </div>
      <div class="invalid-feedback">
          Éste campo no puede estar vacío.
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="txtEmpresa">Empresa</label>
      <input type="text" class="form-control is-valid" maxlength="100" id="txtEmpresa">
      <div class="valid-feedback">
        !Muy bien!
      </div>
      <div class="invalid-feedback">
          Éste campo no puede estar vacío.
        </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="txtTelefono">Teléfono</label>
      <input type="text" class="form-control" id="txtTelefono" maxlength="10">
      <div class="valid-feedback">
        !Muy bien!
      </div>
      <div class="invalid-feedback">
          Éste campo no puede estar vacío.
        </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="txtEmail">Email</label>
      <input type="email" class="form-control" id="txtEmail" maxlength="100">
      <div class="valid-feedback">
        !Muy bien!
      </div>
      <div class="invalid-feedback">
          Éste campo no puede estar vacío.
        </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="txtDomicilio">Domicilio</label>
      <textarea class="form-control" id="txtDomicilio" maxlength="300">
      </textarea> 
      <div class="valid-feedback">
        !Muy bien!
      </div>
      <div class="invalid-feedback">
          Éste campo no puede estar vacío.
        </div>
    </div>
  </div>
  
  <div class="text-right">
    <button class="btn btn-primary" type="submit">Guardar</button>
  </div>
</form>
